// ----------------------------------------------------------------------------
// Breakpoints
// ----------------------------------------------------------------------------

$breakpoint-s: 600px;
$breakpoint-m: 834px;
$breakpoint-l: 1400px;
$breakpoint-xl: 1900px;

@mixin xsmall {
  @media only screen and (max-width: $breakpoint-s) {
    @content;
  }
}

@mixin small {
  @media only screen and (min-width: $breakpoint-s) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width: $breakpoint-m) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $breakpoint-l) {
    @content;
  }
}

@mixin xlarge {
  @media only screen and (min-width: $breakpoint-xl) {
    @content;
  }
}
