// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

$color-white: #fff;
$color-black: #000;
$color-coral: #ff4665;
$color-grey-dark: #333;
$color-pink-light: #fdd8d8;
$color-transparent: rgba(0, 0, 0, 0);
