// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------

$color-white: #fff;
$color-black: #000;
$color-coral: #ff4665;
$color-dark-coral: #d14040;
$color-grey-dark: #333;
$color-pink-light: rgba(255, 70, 101, 0.1);
$color-transparent: rgba(0, 0, 0, 0);
