$font-size-xxsmall: 1.0625rem;
$font-size-xSmall: 1.25rem;
$font-size-small: 1.25rem;
$font-size-med: 1.5rem;
$font-size-heading-med: 2rem;
$font-size-headingLarge: 3rem;
$font-size-xheadingLarge: 3.5rem;
$font-size-headingLarge: 3.5rem;
$font-size-xxheadingLarge: 6rem;
