// ----------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------

a {
  color: $color-grey-dark;
  text-decoration: underline solid $color-transparent;
  font-weight: bold;
  padding-bottom: 3px;

  &:hover {
    text-decoration: none;
    border-bottom: 2px $color-coral solid;
  }
}
