// ----------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------

a {
  color: $color-grey-dark;
  text-decoration: underline solid $color-transparent;
  padding-bottom: 3px;
  font-size: 17px;

  &:hover {
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-color: $color-coral;
    // text-decoration-thickness: 3px;
  }
}
