// ----------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------

a {
  color: $color-grey-dark;
  text-decoration: underline solid $color-transparent;
  padding-bottom: 3px;

  &:hover {
    color: $color-dark-coral;
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: $color-coral;
  }
}

.boldLink {
  font-weight: 700;
}
