.bannerImage {
  @include aspect-ratio(5, 2);
  width: 100%;
  margin-bottom: $spacing-medium;

  @include medium {
    padding-right: $spacing-medium;
    padding-left: $spacing-medium;
  }

  @include large {
    padding-right: 104px;
    padding-left: 104px;
    margin-bottom: 72px;
  }
}
