.bannerImage {
  width: 112%;
  height: 156px;
  margin-left: -6%;
  margin-right: -6%;
  margin-bottom: $spacing-medium;

  @include small {
    height: 324px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  @include large {
    height: 482px;
    margin-bottom: $spacing-xlarge;
  }
}
