.contactFlex {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include medium {
    margin-bottom: 115px;
  }
}

.contactFlexItem {
  padding-top: $spacing-large;

  @include large {
    width: 47%;
    font-size: $font-size-med;
  }

  @include medium {
    padding-top: 64px;
  }

  @include large {
    padding-top: 80px;
  }
}
