// ----------------------------------------------------------------------------
// Footer
// ----------------------------------------------------------------------------
.footer {
  background: $color-grey-dark;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include medium {
    flex-direction: row;
  }
}

.footerLinkContainer {
  margin-top: 80px;
  margin-bottom: 56px;
  display: flex;
  flex-direction: column;

  @include medium {
    flex-direction: row;
    justify-content: flex-start;
  }

  @include large {
    margin-top: 89px;
    margin-bottom: 89px;
  }
}

.footerLink {
  color: $color-white;
  margin-bottom: 12px;
  align-self: flex-start;
  font-size: 18px;

  @include medium {
    margin-bottom: 0;
    margin-right: $spacing-large;
  }
}

.footerIcon {
  margin-bottom: 80px;

  @include medium {
    margin-top: 69px;
  }

  @include large {
    margin-top: 89px;
  }
}
