// ----------------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------------

.grid {
  @include small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.gridPeople {
  @include small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include medium {
    padding-right: $spacing-medium;
    padding-left: $spacing-medium;
  }

  @include large {
    padding-right: 104px;
    padding-left: 104px;
  }
}

.contentContainer {
  display: block;
  padding-right: 40px;

  @include xlarge {
    display: inline;
  }
}

.imageContainer {
  width: 100%;
  margin-bottom: $spacing-large;

  @include small {
    width: 47%;
  }

  @include large {
    width: 24%;
  }
}

.gridItemImageContainer {
  width: 100%;
  margin-bottom: $spacing-large;

  @include medium {
    width: 47%;
  }
}

.gridItemContainer {
  width: 100%;
  margin-bottom: $spacing-large;

  @include small {
    width: 47%;
  }
}

.gridItem {
  @include aspect-ratio(384, 297);
  margin-bottom: $spacing-base;
  width: 100%;

  @include small {
    margin-left: 0;
    width: 100%;
  }
}

.gridImage {
  width: 100%;
}
