// ----------------------------------------------------------------------------
// Gutters
// ----------------------------------------------------------------------------

$spacing-large: 104px;
$spacing-medium: 30px;
$spacing-small: 16px;

.wContainer {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.gutters {
  padding-right: $spacing-small;
  padding-left: $spacing-small;

  @include medium {
    padding-right: $spacing-medium;
    padding-left: $spacing-medium;
  }

  @include large {
    padding-right: $spacing-large;
    padding-left: $spacing-large;
  }
}

.smallGutters {
  padding-right: $spacing-small;
  padding-left: $spacing-small;

  @include large {
    padding-right: 0;
    padding-left: 0;
  }
}
