// ----------------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------------

.header {
  display: flex;
  flex-direction: column;
  margin: 40px auto $spacing-medium;

  @include small {
    flex-direction: row;
    justify-content: space-between;
  }

  @include medium {
    margin: $spacing-xlarge 0 $spacing-xxlarge;
  }

  @include large {
    margin: $spacing-xxlarge 0 40px;
  }

  .list {
    margin-top: 0;
  }

  .listItems {
    padding: 10px 15px;

    &:first-child {
      padding-left: 0;
    }

    &:nth-of-type(4) {
      padding-left: 0;
    }

    @include small {
      padding: 10px 21px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.headerGrowLogo {
  width: 82px;
  height: 24px;

  @include medium {
    margin-top: 10px;
  }
}
