// ----------------------------------------------------------------------------
// Images
// ----------------------------------------------------------------------------

.workshopImageContainer {
  @include aspect-ratio(5, 2);
  margin-bottom: $spacing-base;

  @include xlarge {
    width: 70%;
  }

  @include small {
    margin-left: 0;
    width: 100%;
  }
}

.workshopImage {
  width: 100%;

  @include medium {
    padding-right: $spacing-medium;
    padding-left: $spacing-medium;
  }

  @include large {
    padding-right: 104px;
    padding-left: 104px;
  }
}
