// ----------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------

.linkContact {
  margin-top: $spacing-small;
  word-break: break-all;

  &:hover {
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-color: $color-coral;
  }
}
