.paragraphxSmall {
  margin-bottom: 40px;
}

.paragraphLarge {
  line-height: 1.78;
  margin-bottom: 48px;

  @include medium {
    font-size: 24px;
    line-height: 40px;
  }
}

.paragraphEmphasis {
  font-size: $spacing-base;
  font-weight: bold;
}
