.workshop {
  margin-bottom: $spacing-xlarge;

  @include medium {
    margin-bottom: $spacing-xxxlarge;
  }
}

.workshopImageContainer {
  @include aspect-ratio(5, 2);
  margin-bottom: $spacing-base;
  margin-left: -6%;
  margin-right: -6%;
  width: 112%;

  @include small {
    margin-left: 0;
    width: 100%;
  }
}

.workshopImage {
  width: 100%;
}
