// ----------------------------------------------------------------------------
// Utilities
// ----------------------------------------------------------------------------

// Margins
.uMarginBottomS {
  margin-bottom: $spacing-small;
}

.uMarginTopS {
  margin-top: $spacing-small;
}

.uMarginBottomSM {
  margin-bottom: 20px;
}

.uMarginBottomM {
  margin-bottom: $spacing-base;
}

.uMarginTopML {
  margin-top: $spacing-medium;
}

.uMarginBottomML {
  margin-bottom: $spacing-medium;
}

.uMarginBottomL {
  margin-bottom: 50px;
}

.uMarginBottomXL {
  margin-bottom: 63px;
}

.uMarginBottomXXL {
  margin-bottom: 100px;
}

// Widths
.uWidthSixtyPercent {
  @include medium {
    width: 60%;
  }
}

.uWidthEightyPercent {
  @include medium {
    width: 70%;
  }
}
