// ----------------------------------------------------------------------------
// Banner
// ----------------------------------------------------------------------------

.bannerImage {
  width: 112%;
  margin-left: -6%;
  margin-right: -6%;
  margin-bottom: $spacing-medium;
  @include small {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  @include medium {
    margin-bottom: $spacing-xlarge;
  }
}
