// ----------------------------------------------------------------------------
// Flex
// ----------------------------------------------------------------------------

.flex {
  display: flex;
}

.flexWrapper {
  margin-bottom: $spacing-xlarge;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexItem {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;

  @include medium {
    width: 40%;
  }

  @include large {
    width: 47%;
    font-size: $font-size-med;
  }

  @include medium {
    padding-top: $spacing-xxlarge;
  }
}
