// ----------------------------------------------------------------------------
// Footer
// ----------------------------------------------------------------------------

.footer {
  background: $color-grey-dark;
}

.footerLinkContainer {
  padding-top: $spacing-xlarge;
  padding-bottom: $spacing-xlarge;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include small {
    flex-direction: row;
  }
}

.footerLink {
  font-family: $font-family-sans-serif;
  font-size: $spacing-base;
  font-weight: bold;
  color: $color-white;
  text-decoration: none;
  margin-bottom: $spacing-base;
  @include small {
    margin-right: $spacing-xlarge;
    margin-bottom: 0;
  }
}
