// ----------------------------------------------------------------------------
// Footer
// ----------------------------------------------------------------------------

.footer {
  background: $color-grey-dark;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include medium {
    flex-direction: row;
  }
}

.footerLinkContainer {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  @include medium {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.footerLink {
  color: $color-white;
  margin-bottom: $spacing-base;
  align-self: flex-start;
  font-size: 18px;

  @include medium {
    margin-bottom: 0;
    margin-right: $spacing-large;
  }
}

.footerIcon {
  margin: 120px 0;
}
