// ----------------------------------------------------------------------------
// Headings
// ----------------------------------------------------------------------------

.headingXSmall {
  font-size: $spacing-small;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: $spacing-small;
}

.headingSmall {
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: $spacing-small;
}

.headingMedium {
  line-height: 1.17;
  font-family: $font-family-serif;
  width: 100%;
  font-size: $spacing-med-large;
  margin-bottom: $spacing-xsmall;
  @include medium {
    font-size: $spacing-large;
    margin-bottom: $spacing-base;
    width: 80%;
  }
  @include large {
    font-size: $spacing-xlarge;
    margin-bottom: $spacing-medium;
  }
}

.headingLarge {
  font-family: $font-family-serif;
  font-size: $spacing-xlarge;
  margin-bottom: $spacing-medium;
  @include medium {
    font-size: $spacing-xxlarge;
  }
  @include large {
    font-size: $spacing-xxxlarge;
    margin-bottom: $spacing-large;
  }
}

.headingXLarge {
  font-family: $font-family-serif;
  font-size: $spacing-xlarge;
  margin-bottom: $spacing-medium;
  @include medium {
    font-size: $spacing-xxlarge;
    width: 60%;
  }
  @include large {
    font-size: $spacing-xxxlarge;
    margin-bottom: $spacing-large;
  }
}

.headingSubtitle {
  font-size: $spacing-small;
  margin-bottom: $spacing-xlarge;
}
