// ----------------------------------------------------------------------------
// Headings
// ----------------------------------------------------------------------------

.headingXSmall {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: $spacing-small;
}

.headingSmall {
  font-weight: bold;
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: $spacing-small;
}

.headingMedium {
  line-height: 1.5;
  margin-bottom: $spacing-small;
  width: 100%;
  font-size: $spacing-med-large;
  font-weight: bold;

  @include medium {
    font-size: $spacing-large;
  }

  @include large {
    font-size: 24px;
  }
}

.headingMediumLight {
  line-height: 1.5;
  margin-bottom: $spacing-small;
  width: 100%;
  font-size: 24px;
}

.headingLarge {
  font-family: $font-family-serif;
  font-size: $spacing-xlarge;
  margin-bottom: $spacing-medium;

  @include medium {
    font-size: $spacing-xxlarge;
  }
  @include large {
    font-size: $spacing-xxxlarge;
    margin-bottom: $spacing-large;
  }
}

.headingSubtitle {
  font-size: $spacing-small;
  margin-bottom: $spacing-med-large;
}
