// ----------------------------------------------------------------------------
// Images
// ----------------------------------------------------------------------------

.workshopImageContainer {
  @include aspect-ratio(5, 2);
  margin-bottom: $spacing-base;
  margin-left: -6%;
  width: 112%;

  @include small {
    margin-left: 0;
    width: 100%;
  }
  @include medium {
    width: 80%;
  }
}

.workshopImage {
  width: 100%;
}
