// ----------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------

.linkContact {
  word-break: break-all;
}

.linkDisabled {
  text-decoration: line-through $color-coral;
  cursor: not-allowed;

  &:hover {
    text-decoration: line-through $color-coral;
  }
}
