// ----------------------------------------------------------------------------
// Paragraphs
// ----------------------------------------------------------------------------

.paragraphLarge {
  font-size: $font-size-small;
  line-height: 1.67;
  margin-bottom: $spacing-large;
}

.paragraphSmall {
  line-height: 1.78;
  margin-bottom: $spacing-small;
}

.paragraphEmphasis {
  font-size: $spacing-base;
  font-weight: bold;
}
