// ----------------------------------------------------------------------------
// Sections
// ----------------------------------------------------------------------------

.sectionAbout {
  margin-bottom: $spacing-xlarge;
  @include medium {
    margin-bottom: $spacing-xxxlarge;
  }
}

.sectionContact {
  background-color: $color-pink-light;
  overflow: hidden;
}

.sectionFaqs {
  margin-bottom: $spacing-xlarge;
}

.sectionWorkshop {
  margin-bottom: $spacing-xlarge;
  @include medium {
    margin-bottom: $spacing-xxxlarge;
  }
}
