// ----------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------

a {
  color: $color-grey-dark;
  border-bottom: solid 2px $color-transparent;
  &:hover {
    border-bottom: solid 2px $color-coral;
  }
  font-weight: bold;
  text-decoration: none;
}
