// ----------------------------------------------------------------------------
// Links
// ----------------------------------------------------------------------------

a {
  color: $color-grey-dark;
  text-decoration: underline solid $color-transparent;
  &:hover {
    text-decoration: underline solid $color-coral;
  }
  font-weight: bold;
}
